@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
$raleway-font: 'Raleway',
sans-serif;
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,700i&display=swap');

// Font Family
$Roboto-font: 'Roboto',
sans-serif;
//Color
$white: white;
$black: black;
$navbar-brand-color: #7D5BF4;
$nav-link-color: black;
$introduction-h3-color: black;
$introduction-button-color: #7D5BF4;
$introduction-button-hire-text-color: white;
$introduction-button-hire-hover-text-color: black;
$description-button-color: #7D5BF4;
$get-update-background: #835DF6;